*{
    margin:0px;
    padding:0px;
}

.cabecalho{
    background-color: #FFF2CC;
    color: black;
    display: flex;   
    font-size:24px;
    justify-content: space-around;
}

.logo{
    width:321px;
    height: 157px;
}

.titulo{
    font-size: 50px;
}

.lista{
    color:blue;
    display: inline-block;
}

.item{
    font-size: 20px;
}

.amarela{
    background-color:#FFD966;
    padding:150px 100px;
    text-align: center;
}

.tituloamarelo{
    font-size: 40px;
}

.imagemamarelo{
    width: 400px;
    height: 200px;
}

.textoamarelo{
    font-size: 30px;
    
}