*{
    margin:0px;
    padding:0px;
}
.cabecalho{
    background-color: #3c371f;
    color:black;
    display: flex;
}

.imagem-logo{
    width:321px;
    height: 157px;
}

.lista{
    color:blue;
}